In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.animation as animation
from IPython.display import HTML

In [20]:
df = pd.read_csv('us-counties.csv')
df.head(3)

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0

In [21]:
df = df.loc[df['state'] == 'Florida']

In [23]:
df.loc[df['county'] == 'Miami-Dade'].head(30)

             date      county    state     fips  cases  deaths
1207   2020-03-11  Miami-Dade  Florida  12086.0      1       0
1418   2020-03-12  Miami-Dade  Florida  12086.0      2       0
1684   2020-03-13  Miami-Dade  Florida  12086.0      8       0
2006   2020-03-14  Miami-Dade  Florida  12086.0      8       0
2390   2020-03-15  Miami-Dade  Florida  12086.0     13       0
2827   2020-03-16  Miami-Dade  Florida  12086.0     23       0
3311   2020-03-17  Miami-Dade  Florida  12086.0     43       0
3869   2020-03-18  Miami-Dade  Florida  12086.0     77       0
4538   2020-03-19  Miami-Dade  Florida  12086.0    101       0
5317   2020-03-20  Miami-Dade  Florida  12086.0    124       0
6247   2020-03-21  Miami-Dade  Florida  12086.0    170       0
7287   2020-03-22  Miami-Dade  Florida  12086.0    228       0
8433   2020-03-23  Miami-Dade  Florida  12086.0    277       0
9680   2020-03-24  Miami-Dade  Florida  12086.0    365       0
11057  2020-03-25  Miami-Dade  Florida  12086.0    489       0
12612  2020-03-26  Miami-Dade  Florida  12086.0    653       0
14293  2020-03-27  Miami-Dade  Florida  12086.0    869       2